{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Eventus</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'mystyles.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="">Eventus</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/">INÍCIO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/eventos">EVENTOS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/meus-eventos">MEUS EVENTOS</a>
                    </li>
                  </ul>

                  {% if user.is_authenticated %}
                      <div class="d-flex">
                          <span class="nav-link px-3">Olá, {{ user.username }}</span>
                          <a class="nav-link text-danger" href="/auth/logout/">SAIR</a>
                      </div>
                  {% else %}
                      <ul class="navbar-nav">
                          <li class="nav-item">
                              <a class="nav-link" href="/auth/login/">LOGIN</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="/auth/cadastrar">CADASTRE-SE</a>
                          </li>
                      </ul>
                  {% endif %}
            </div>
        </div>
    </nav>
        {% block conteudo %}
        {% endblock %}
    </body>
</html>