{% extends "base.html" %}

{% block titulo %}
  {{ evento.titulo }} - Eventus
{% endblock %}

{% block conteudo %}
  {% if messages %}
  <div class="container mt-4">
    <div class="alert alert-info">
      {% for message in messages %}
        <p>{{ message }}</p>
      {% endfor %}
    </div>
  </div>
  {% endif %}
  
  <div class="container mt-4">
    <h1 class="text-center mb-4">{{ evento.titulo }}</h1>

    <div class="card">
      <div class="card-body">
        <p><strong>Descrição:</strong> {{ evento.descricao }}</p>
        <p><strong>Local:</strong> {{ evento.local }}</p>
        <p><strong>Data:</strong> {{ evento.data }}</p>
        <p><strong>Organizador:</strong> {{ evento.organizador.username }}</p>
      </div>
    </div>

    <div class="mt-4 d-flex justify-content-between">
      <a href="{% url 'editar_evento' evento.id %}" class="btn btn-warning">Editar</a>

      {% if request.user not in evento.participantes.all %}
      <a href="{% url 'inscricao_em_evento' evento.id %}" class="btn btn-success">Inscrever-se</a>
      {% else %}
      <!-- Se o usuário já estiver inscrito, exibe o botão para desinscrição -->
      <a href="{% url 'cancelar_inscricao' evento.id %}" class="btn btn-danger">Desinscrever-se</a>
      {% endif %}

      <form method="POST" action="{% url 'deletar_evento' evento.id %}" style="display:inline;">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Excluir</button>
      </form>
    </div>

    <div class="mt-3 text-center">
      <a href="{% url 'listar_eventos' %}" class="btn btn-secondary mt-5">Voltar à lista de eventos</a>
    </div>
  </div>
{% endblock %}
