{% extends "base.html" %}

{% block titulo %}
  Lista de Eventos - Eventus
{% endblock %}

{% block conteudo %}
  <div class="container mt-4">
    <h1 class="text-center mb-4">Eventos Disponíveis</h1>

    <div class="text-center mb-4">
      <a href="{% url 'criar_evento' %}" class="btn btn-primary">Criar Novo Evento</a>
    </div>

    <div class="list-group">
      {% for evento in eventos %}
        <a href="{% url 'detalhar_evento' evento.id %}" class="list-group-item list-group-item-action">
          <h5 class="mb-1">{{ evento.titulo }}</h5>
          <p class="mb-1">{{ evento.local }} em {{ evento.data }}</p>
        </a>
      {% endfor %}
    </div>
  </div>
{% endblock %}
