{% extends "base.html" %} 
{% load static %} 

{% block titulo %} 
  Eventus - Meus Eventos 
{% endblock %} 

{% block conteudo %}
  <div class="mycard">
    <h1>Meus Eventos</h1>
    <ul>
      {% for evento in eventos %}
      <li onclick="window.location = '/meus_eventos/detalhes/{{ evento.id }}'">
        <em>Nome:</em> {{ evento.nome }} <br />
        <em>Data:</em> {{ evento.data }} <br />
        <em>Local:</em> {{ evento.local }}
      </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
