{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'mystyles.css' %}">
        <title>Detalhes do Evento</title>
    </head>
    <body>
        <div class="topnav">
            <a href="/">PRINCIPAL</a> |
            <a href="/eventos">EVENTOS</a> |
            <a href="/meus_eventos">MEUS EVENTOS</a> |
            <a href="/auth/login">LOGIN</a> |
            <a href="/auth/cadastro">CADASTRE-SE</a>
        </div>

        <div class="mycard">
            <h1>{{ evento.nome }}</h1>
            <p><em>Local:</em> {{ evento.local }}</p>
            <p><em>Data:</em> {{ evento.data }}</p>
            <p><em>Descrição:</em> {{ evento.descricao }}</p>
        </div>

        <p><center><a href="/meus-eventos">Voltar para meus eventos</a></center></p>
    </body>
</html>
