{% extends "base.html" %}
{% load static %}

{% block titulo %}
  Eventus - Página Principal
{% endblock %}

{% block conteudo %}
  <div class="container">
    <div class="main-content text-center">
      <h1 class="mt-5">Bem-vindo ao Eventus!</h1>
      <p class="lead mt-3">A plataforma para criar, gerenciar e participar de eventos de forma simples e prática.</p>
      
      <div class="mt-5">
        <a href="{% url 'listar_eventos' %}" class="btn btn-primary btn-lg">Ver Eventos</a>
        <a href="{% url 'criar_evento' %}" class="btn btn-success btn-lg ml-3">Criar Evento</a>
      </div>

      <div class="mt-5">
        <h3>O que você pode fazer?</h3>
        <ul class="list-group mt-3">
          <li class="list-group-item">Criar eventos e gerenciar participantes</li>
          <li class="list-group-item">Inscrever-se em eventos interessantes</li>
          <li class="list-group-item">Desinscrever-se de eventos facilmente</li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
